{% extends 'base.html' %}
{% block body %}
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/positions">Postions</a>
        <a href="/trainings">Trainings</a>
        <a href="/wins">Wins</a>
        <a href="/add">Add New Player</a>
        <img class="navbarimg" src="https://www.mainlanduniforms.nz/img/cms/Burnside.png" alt="Burnside High Logo" width="250" height="48">   
       </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
        {% for item in results %}
        <tr>
            <td> <a class="dynamiclinks" href="{{ url_for('player', id=item[0]) }}"> {{ item [1] }} </a> </td>
            <td> <element class="button">
                <form action="/delete" method="post">
                <input type="hidden" name="player_name" value="{{ item[0] }}">
                <input class="button" type="submit" value="delete">
                </element>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>    
{% endblock %}