{% extends 'base.html' %}
{% block body %}
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/positions">Postions</a>
        <a href="/trainings">Trainings</a>
        <a class="active" href="/wins">Wins</a>
        <a href="/add">Add New Player</a>
        <img class="navbarimg" src="https://www.mainlanduniforms.nz/img/cms/Burnside.png" alt="Burnside High Logo" width="250" height="48">   
      </div>
    <table>
        <tr>
            <th class = "purplewins">Name</th>
            <th class = "purplewins">Wins</th>

        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item [0] }}</td>
            <td>{{ item [1] }}</td>


        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}